bank/src/main/resources/bank.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PBankService"
	targetNamespace="http://it.univaq.disim.sose.project/bank" 
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" 
	xmlns:tns="http://it.univaq.disim.sose.project/bank"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<types>
		<xsd:schema targetNamespace="http://it.univaq.disim.sose.project/bank">			
			<xsd:element name="accountRequest" type="tns:accountRequest" />
			<xsd:element name="accountResponse" type="tns:accountResponse" />			
			<xsd:element name="withdrawRequest" type="tns:withdrawRequest" />
			<xsd:element name="withdrawResponse" type="tns:withdrawResponse" />
			<xsd:element name="refillRequest" type="tns:refillRequest" />
			<xsd:element name="refillResponse" type="tns:refillResponse" />			
			<xsd:complexType name="addressType">
			  <xsd:sequence>
			    <xsd:element name="street" type="xsd:string"/>
			    <xsd:element name="city" type="xsd:string"/>
			    <xsd:element name="country" type="xsd:string"/>
			  </xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="nameType">
			  <xsd:sequence>
			    <xsd:element name="firstname" type="xsd:string"/>
			    <xsd:element name="lastname" type="xsd:string"/>
			  </xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="loginType">
			  <xsd:sequence>
			    <xsd:element name="username" type="xsd:string"/>
			    <xsd:element name="password" type="xsd:string"/>
			  </xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="resultType">
			  <xsd:sequence>
			    <xsd:element name="success" type="xsd:boolean" />
				<xsd:element name="result" type="xsd:string" />
			  </xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="accountRequest">
				<xsd:all>
					<xsd:element name="account" type="tns:loginType" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="accountResponse">
				<xsd:all>
					<xsd:element name="amount" type="xsd:double" />
					<xsd:element name="name" type="tns:nameType" />
					<xsd:element name="address" type="tns:addressType" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="withdrawRequest">
				<xsd:all>
					<xsd:element name="account" type="tns:loginType" />
					<xsd:element name="amount" type="xsd:double" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="withdrawResponse">
				<xsd:all>
					<xsd:element name="result" type="tns:resultType" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="refillRequest">
				<xsd:all>
					<xsd:element name="account" type="tns:loginType" />
					<xsd:element name="amount" type="xsd:double" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="refillResponse">
				<xsd:all>
					<xsd:element name="result" type="tns:resultType" />
				</xsd:all>
			</xsd:complexType> 
        </xsd:schema>
	</types>	
	<message name="accountRequest">
		<part name="parameters" element="tns:accountRequest"> </part>
	</message>
	<message name="accountResponse">
		<part name="parameters" element="tns:accountResponse">
		</part>
	</message>
	<message name="withdrawRequest">
		<part name="parameters" element="tns:withdrawRequest"></part>
	</message>
	<message name="withdrawResponse">
		<part name="parameters" element="tns:withdrawResponse"></part>
	</message>
	<message name="refillRequest">
		<part name="parameters" element="tns:refillRequest"></part>
	</message>
	<message name="refillResponse">
		<part name="parameters" element="tns:refillResponse"></part>
	</message>
	<portType name="BankPT">
		<operation name="account">
			<input message="tns:accountRequest"
				wsam:Action="http://it.univaq.disim.sose.project/bank/account">
			</input>
			<output message="tns:accountResponse"
				wsam:Action="http://it.univaq.disim.sose.project/bank/accountResponse">
			</output>
		</operation>
		<operation name="withdraw">
			<input message="tns:withdrawRequest"
				wsam:Action="http://it.univaq.disim.sose.project/bank/withdraw">
			</input>
			<output message="tns:withdrawResponse"
				wsam:Action="http://it.univaq.disim.sose.project/bank/withdrawResponse">
			</output>
		</operation>
		<operation name="refill">
			<input message="tns:refillRequest"
				wsam:Action="http://it.univaq.disim.sose.project/bank/refill">
			</input>
			<output message="tns:refillResponse"
				wsam:Action="http://it.univaq.disim.sose.project/bank/refillResponse">
			</output>
		</operation>
	</portType>
	<binding name="BankBinding" type="tns:BankPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="account">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="withdraw">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="refill">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="BankService">
		<port name="BankPort" binding="tns:BankBinding">
			<soap:address location="http://localhost:8080/bank/services/bank" />
		</port>
	</service>
</definitions>
