currency/src/main/resources/currency.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PCurrencyService"
	targetNamespace="http://it.univaq.disim.sose.project/currency" 
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" 
	xmlns:tns="http://it.univaq.disim.sose.project/currency"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<types>
		<xsd:schema targetNamespace="http://it.univaq.disim.sose.project/currency">			
			<xsd:element name="rateRequest" type="tns:rateRequest" />
			<xsd:element name="rateResponse" type="tns:rateResponse" />
			<xsd:simpleType name="currencyType">
			    <xsd:restriction base="xsd:string">
			      <xsd:enumeration value="EUR"/>
			      <xsd:enumeration value="USD"/>
			      <xsd:enumeration value="GBP"/>
			    </xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="rateRequest">
				<xsd:sequence>
					<xsd:element name="from" type="tns:currencyType" />
					<xsd:element name="to" type="tns:currencyType" />
				</xsd:sequence>
			</xsd:complexType>			
			<xsd:complexType name="rateResponse">
				<xsd:sequence>
					<xsd:element name="rate" type="xsd:double" />
				</xsd:sequence>
			</xsd:complexType>	
        </xsd:schema>
	</types>	
	<message name="rateRequest">
		<part name="parameters" element="tns:rateRequest">
		</part>
	</message>
	<message name="rateResponse">
		<part name="parameters" element="tns:rateResponse">
		</part>
	</message>
	<portType name="CurrencyPT">
		<operation name="rate">
			<input message="tns:rateRequest"
				wsam:Action="http://it.univaq.disim.sose.project/currency/rate">
			</input>
			<output message="tns:rateResponse"
				wsam:Action="http://it.univaq.disim.sose.project/currency/rateResponse">
			</output>
		</operation>
	</portType>
	<binding name="CurrencyBinding" type="tns:CurrencyPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="rate">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="CurrencyService">
		<port name="CurrencyPort" binding="tns:CurrencyBinding">
			<soap:address location="http://localhost:8080/currency/services/currency" />
		</port>
	</service>
</definitions>
